.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px 30px 50px 30px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 50px auto;
}


.codeInp {
    height: 40px;
    font-size: 24px;
    text-align: center;
}

.codeBtn {
    width: 94px;
}

.codeWrap {
    display: flex;
}